* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}


body {
    min-height: 100vh;
}

.page-contents {
    padding: 40px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
}

.page-contents h1 {
    font-family: Dream;
    letter-spacing: 3px;
    color:#26532B;
}

.data-table {
    border-spacing: 4px;
    width: 100%;
}

.data-table th {
    background-color: #26532B;
    color: white;
    font-family: Dream;
    letter-spacing: 3px;
}

.data-table td {
    background-color: #eee;
    transition-duration: 0.5s;
}

.data-table td:hover {
    background-color: #ddd;
    transition-duration: 0s;
}

.data-table th, .data-table td {
    padding: 10px 5px;
    border-radius: 6px;
}

@font-face {
    font-family: Dream;
    src: url('fnt/dream\ orphans.otf');
}

/* ---------- Sidemenu ---------- */


.sidemenu {
    background-color: #399E5A;
    width: 20%;
    padding: 30px;
}

.sidemenu h1 {
    text-align: center;
    font-family: Dream;
    letter-spacing: 1pt;
    font-size: 36pt;
    color: #eee;
}

.sidemenu h1 i {
    color: #26532B;
    display: block;
}

.sidemenu h1 span {
    display:block;
    font-size: 24pt;
}

.sidemenu .dropdown {
    display: none;
}

.sidemenu ul {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    
    color: #eee;
}

.sidemenu ul:not(.dropdown) {
    padding: 20px 0;
}

.sidemenu ul.dropdown {
    padding-left: 30px;
}

.sidemenu h2 {
    border-bottom: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

.sidemenu ul li {
    padding: 10px 10px;
    transition-duration: .3s;
    cursor: pointer;
}

.sidemenu ul i {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    color: #26532B;
}

.sidemenu ul i.fa-caret-down, .sidemenu ul i.fa-caret-right {
    margin-left: 10px;
}

.sidemenu li:hover{
    background-color: #55ac72;
    border-radius: 50px;
    transition-duration: .3s;
}

.sidemenu a{
    display:block;
    color: inherit;
    text-decoration: inherit;

}

/* ---------- Dashboard ---------- */




/* ---------- Pet Search ---------- */

#pets #search-box {
    width: 25%;
}

#appointments #search-box {
    width: 50%;
}

#appointments #search-box input[type="text"] {
    width: 35%;
}

#appointments #search-box input[type="date"] {
    width: 15%;
}

#appointments #search-box input[type="submit"], #appointments #search-box input[type="button"] {
    width: 15%;
}

#search-box {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

#search-box input {
    padding: 5px 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

#pets #search-box input[type="text"] {
    width: 78%;

}

#search-box input[type="text"], #search-box input[type="date"] {
    border: 0;
    background-color: #eee;
}

#pets #search-box input[type="submit"] {
    width: 20%;
}

#search-box input[type="submit"], #search-box input[type="button"] {
    background-color: #399E5A;
    color: white;
    border: 0;
}

#pet-search-results .sex {
    text-align: center;
}

#pet-search-results .sex .fa-mars{
    color: #275DAD;
}

#pet-search-results .sex .fa-venus {
    color: #EA526F;
}

.data-table .button {
    text-align: center;
    color: white;
    background-color:#399E5A;
    padding: 0;
    transition-duration: 0.2s;
    box-shadow: inset 0 0 9px rgba(0,0,0,0.2);
}

.data-table .button:hover {
    background-color:#26532B;
    transition-duration: 0.2s;
}

.data-table .view.button {
    background-color: #fcf6bd;
}

.data-table .edit.button {
    background-color: #A9DEF9;
}

.data-table .button a {
    padding: 10px 5px;
    width: 100%;
    height: 100%;
    display: block;
    color: #222;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.7);
    
}

#appointment-search-results .fa-check {
    color: green;
} 

#appointment-search-results .fa-times {
    color: red;
}